@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	color: #2A3036;
	font-family: Poppins;
}

nav .active {
	position: relative;

	&:after {
		content: "";
		background: #4189DD;
		width: 100%;
		height: 3px;
		bottom: -2.3rem;
		left: 0;
		position: absolute
	}
}