@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

html, body {
	background: #F6F5F7
}

* {
	font-family: "Work Sans";
}

h1, h2, h3, h4, h5, h6, p, a, div, span {
	@apply text-zinc-600;
}

nav {
    & > div > div > a {
        position: relative;

        &:after {
            content: "";
            background: #4189DD;
            width: 0;
            height: 3px;
            bottom: -2.1rem;
            left: 0;
            position: absolute;
            transition: all 0.3s;
        }

        &.active, &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    & li a {
        position: relative;

        &:after {
            content: "";
            background: #4189DD;
            width: 0;
            height: 3px;
            bottom: -3px;
            left: 0;
            position: absolute;
            transition: all 0.3s;
        }

        &.active, &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	background: darken(#4189DD, 8%);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #4189DD;
    color: #777;
	cursor: pointer
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #4189DD;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 2s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

$letters: 20;

.btn-anim2 {
  padding: 18px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 20;
  cursor: pointer;
  transition: all .3s;
  
  span {
	display: inline-block;
    min-width: 0.30em;
    text-transform: uppercase;
    transition: .25s cubic-bezier(0.5,-1, 0.5, 2);
    opacity: 0;
	margin-left: 2px;
	margin-right: 2px;
    transform: translate(0,-20px);
  }
    
  &:before {
	content: attr(data-text);
    position: absolute;
	padding-top: 1px;
    width: 100%;
    left: 0;
    transition: .25s cubic-bezier(0.5,-1, 0.5, 2);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    opacity: 1;
    transform: translate(0,0px);
  }
    
    
  &:hover, &:focus {
	background: darken(#4189DD, 8%);

	&:before {
		opacity: 0;
		transform: translate(0, 20px) 
	}
  
    span {
		opacity: 1;
		transform: translate(0, 0px)
	}
   
    @for $i from 1 through $letters {
		span:nth-child(#{$i}) {
			transition-delay: 0.025s * $i
		  }
	}
  }
}

textarea {
    resize:none;
}

input, textarea, button, select {
    &:is(:focus, :active) {
        outline: none;
        border: none
    }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//1396:!flex-row 1170:!flex-col lg:!flex-row !flex-col

.special {
    flex-direction: row;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (max-width: 1396px) {
    .special {
        flex-direction: column;
    }
}

@media (max-width: 1170px) {
    .special {
        flex-direction: row;
    }
}

@media (max-width: 1024px) {
    .special {
        flex-direction: column;
    }
}

.rounded-animation-on {
	animation: roundAnimationOn 1s cubic-bezier( 0.165, 0.84, 0.44, 1 )  0s forwards !important;
}

.rounded-animation-off {
	animation: roundAnimationOff 1s cubic-bezier( 0.165, 0.84, 0.44, 1 )  0s forwards !important;
}

@keyframes roundAnimationOn {
	0% {
		transform: translateY(-100%)
	}

	100% {
		transform: translateY(0)
	}
}

@keyframes roundAnimationOff {
	0% {
		transform: translateY(0)
	}

	100% {
		transform: translateY(-100%)
	}
}