.ship {
	
	& .sidebar {
		box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.3);

		& button {
			font-family: 'Poppins';
			padding-right: 6em;
			font-weight: 500;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			transition: all 0.3s;
			cursor: pointer;
			position: relative;

			&:hover {
				background: rgba(0, 0, 0, 0.05) !important;
				&:before {
					height: 100%
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 85, 185, 1);
				height: 0;
				width: 4px;
				transition: .3s
			}
			
			&.active {
				background: rgba(0, 0, 0, 0.05) !important;

				&:before {
					height: 100%
				}
			}
		}
	}

	& h1 {
		font-family: 'Poppins';
		font-size: 2.4em;
	}

	& .seperator {
		height: 4px
	}

	& span {
		width: .7em;
		height: .7em;
		margin-left: .4em;

		&.stat {
			width: .5em;
			height: .5em
		}
	}

	& h2 {
		color: #666666;
		margin-bottom: .6em
	}

	& h3 {
		font-family: 'Poppins';
		color: #202020;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block !important;

		&.loc {
			max-width: 280px;
		}
	}

	& h6 {
		margin-bottom: .3em;
		font-size: .9em;
		white-space: nowrap;
	}

	& .img {
		margin-top: -3em;
		& .bd {
			width: 3em;
			height: 3em;

			&:first-child {
				margin-left: -3px
			}

			&:last-child {
				margin-top: calc(-3em + 2.5px);
				float: right;
				margin-right: -3px
			}
		}

		& .i {
			margin-top: calc(-3em + 3px);
			z-index: 1000
		}
	}

	& .flag-icon {
		background-size: contain;
		width: 1.2em;
		height: 100%;
		margin-right: .8em
	}

	& .shadow {
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .3) !important
	}
}