.ship {

	& + footer {
		margin-left: 25%
	}
	
	& .sidebar {
		box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.3);

		& a:before {
			content: "";
			position: absolute;
			top: 0;
			left: -4px;
			width: 4px;
			height: 100%;
			background: white
		}

		& button {

			&:hover {
				background: rgba(0, 0, 0, 0.05) !important;
				&:before {
					height: 100%
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(30, 64, 175, 1);
				height: 0;
				width: 4px;
				transition: .3s
			}
			
			&.active {
				background: rgba(0, 0, 0, 0.05) !important;

				&:before {
					height: 100%
				}
			}
		}
	}

	& h1 {
		font-size: 2.4em;
	}

	& span {
		width: .88em;
		height: .88em;

		&.ctg {
			width: min-content;
			height: auto
		}

		&.stat {
			width: .55em;
			height: .55em
		}
	}

	& .clc {
		margin-bottom: .8em
	}

	& .overview h2 {
		color: #808080;

		&:not(.cl) {
			margin-bottom: .8em
		}
	}

	& h3 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;

		&.loc {
			max-width: 280px;
		}
	}

	& h6 {
		margin-bottom: .1em;
		white-space: nowrap;
	}

	& .img {
		margin-top: -3em;
		& .bd {
			width: 3em;
			height: 3em;

			&:first-child {
				margin-left: -3px
			}

			&:last-child {
				margin-top: calc(-3em + 2.5px);
				float: right;
				margin-right: -3px
			}
		}

		& .i {
			margin-top: calc(-3em + 3px);
		}
	}

	& .flag-icon {
		background-size: contain;
		width: 2em;
		height: 100%;
		margin-right: .2em;
		margin-left: -.3em
	}

	& .shadow {
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .3) !important
	}

	& .st {
		& > div {
			border-bottom: 2px solid #eeeeee;
	
			& > div {
				color: #555555;
				font-size: 1.1em;
			}
		}
	}
}

span.it:not(:first-child) {
	z-index: 30
}

.itc div:first-child span.it::before {
	content: "";
	width: 2px;
	transform: translate(-50%, 98%);
	background: rgba(0, 85, 185, 1);
	position: absolute;
	left: 50%;
	bottom: 0
}

div.ic:hover > div {
	height: 100%;
	justify-content: center;
	flex-direction: column;

	& h3 {
		max-width: 90%;
		white-space: pre-wrap;
		text-align: center;
		margin-bottom: .75em
	}
}