.database {

	& .seperator {
		height: 4px;
		width: 80px
	}

	& p span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: calc(100% - 2.5rem)
	}

	& h1 {
		font-family: 'Poppins'
	}

	& input {
		font-family: 'Public Sans'
	}

	& .pg {
		& a {
			font-family: 'Poppins';
			width: 2.5em;
			height: 2.5em;
			line-height: 0;
			padding-top: .1em
		}
	}
}