@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500&family=Poppins:wght@300,400;500;600&display=swap');

$primary: rgba(0, 85, 185, 1);
$success: rgb(0, 192, 0);

@import "~bootstrap/scss/bootstrap";

html, body {
	width: 100%;
	min-height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	background: white;
	position: relative;
	font-family: Public Sans !important;
}