nav {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;

	a {
		color: #808080;
		font-weight: 400;
		font-family: Public Sans;
	}

	.search {
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	}
	
	input {
		padding-top: .8em !important;
		padding-bottom: .8em !important;
		font-weight: 200 !important;
		font-family: Public Sans !important;
		color: #808080;
	}

	&.expand {
		justify-content: flex-start !important;
	}

	&.expand .collapse {
		display: initial;
	}

	& .collapse.show {
		animation: Expand 0.8s cubic-bezier(0, 0, 0.08, 0.88) 0s forwards;
		height: 100vh
	}
	& .collapse.hide {
		animation: Collapse 0.5s cubic-bezier(0, 0, 0.08, 0.88) 0s forwards;
		display: initial;
		margin: 0 !important;
		padding: 0 !important
	}
}

@keyframes Expand {
	0% {
		height: 0vh;
	}
	100% {
		height: 100vh;
	}
}

@keyframes Collapse {
	0% {
		height: 100vh
	}
	100% {
		height: 0;
	}
}

.nav-link {
	grid-auto-flow: column;
	grid-template-rows: repeat(3, auto);
	padding: 0;
	align-items: center;
	grid-row-gap: 1em;
	grid-column-gap: 4em
}

.navbar-toggler:focus, .navbar-toggler:active {
	box-shadow: none !important
}

.btn {
	color: white !important;
	padding: .6em 2.5em !important;
	width: min-content;
}

footer {
	background: rgba(30, 64, 175, 1);

	& img {
		object-fit:fill
	}
	& input::-webkit-input-placeholder {
		color: white !important;
	}
}

input {
	&[type="submit"] {
		color: rgb(50, 87, 206);
	}
	&[type="email"] {
		background: rgb(50, 87, 206);
		color: white !important;
		&:focus {
			background: rgb(50, 87, 206);
			color: white !important;
		}
	}
}

@media (min-width: 0) {
	nav {
		justify-content: flex-start
	}
}